{% extends 'base.html.twig' %}

{% block title %}My Bootstrap{% endblock %}
{% block body %}
    <div style="background: black">
    <div class="container" style="color:white;background:#cccccc">
        <h1>3 column layout</h1>
        <div class="row">
            <div class="col-md-2" style="background-color: rebeccapurple">left</div>
            <div class="col-md-8" style="background-color: #ff5c4b">middle</div>
            <div class="col-md-2" style="background-color: green">right</div>
        </div>

        <blockquote>
            <p>You're almost halfway there!!!</p>
            <footer>Mal</footer>
        </blockquote>
    </div>
    </div>

{% endblock %}